
<div class="flex gap-50">
  <div class="flex flex-col items-start gap-4">
    <img src="/assets/img/treekon_logo.svg"/>

    <div>
      <p><strong class="text-secondary">{{title}} Pvt. Ltd</strong></p>
    <p>Janasewa Marga, Dallu Kathmandu Nepal</p>
    </div>
    <div>
      <p>Phone: <a href="tel:{{phone}}"><strong class="underline text-secondary">{{phone}}</strong></a></p>
      <p>Email: <a href="mailto:{{email}}"><strong class="underline text-secondary">{{email}}</strong></a></p>
    </div>

    <p>We make your ideas a reality </p>
  </div>
  <div class="testimonial rounded-2xl p-5 text-primary w-1/2 grow">
    <h2 class="subHeading">Contact Us</h2>
  </div>


</div>


