<header>
  <nav class="flex items-center justify-between border-b border-secondary">
    <img src="./assets/img/treekon_logo.svg" href="treekon"/>
    <!-- Navigation items can go here -->

    <div class="flex">
      {% for menu in menus %}
      <div class="menu">
        <div class="menu-item py-5 px-5 {% if menu.children %}menu-dropdown{% endif %}">{{menu.title}}</div>
        {% if menu.children %}
        <div class="menu-content">
          <div class="flex">
            <div class="basis-64 flex flex-col">
              {% for child in menu.children %}
              <div class="submenu {% if forloop.index == 1 %}active{% endif %}" data-target="submenu-content-{{child.title | slugify}}">
                <div class="nav-item-title"> {{child.title}}</div>
                <div class="nav-item-description"> {{child.description}}</div>
              </div>
              {% endfor %}
            </div>
            {% for child in menu.children %}
            {% if child.children %}
            <div class="basis-256 grid submenu-content {% if forloop.index !=1%}hidden{% endif %}" id="submenu-content-{{child.title | slugify}}">
              {% for grandchild in child.children %}
              <div class="p-5 flex flex-col gap-5">
                <div class="font-semibold">
                  {{grandchild.title}}
                </div>
                <div class="text-sm text-secondary">
                  {{grandchild.description}}
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <button>Contact us</button>
    </div>
  </nav
</header>
