<header>
  <nav class="flex items-center justify-between border-b border-secondary">
    <img src="./assets/img/treekon_logo.svg" href="treekon"/>
    <!-- Navigation items can go here -->

    <div class="flex">
      {% for menu in menus %}
      <div class="dropdown">
        <div class="menu-item py-5 px-5 {% if menu.children %}dropbtn{% endif %}">{{menu.title}}</div>
        {% if menu.children %}
        <div class="dropdown-content">
          <div class="flex">
            <div class="basis-64 flex flex-col">
              {% for child in menu.children %}
              <div class="dropdown-item nav-column">
                <div class="nav-item-title"> {{child.title}}</div>
                <div class="nav-item-description"> {{child.description}}</div>
              </div>
              {% endfor %}
            </div>
            <div class="basis-256 grid">
              {% for child in menu.children %}
              {% if child.children %}
              {% for grandchild in child.children %}
              <div class="p-10 flex flex-col gap-5">
                <div class="font-semibold">
                  {{grandchild.title}}
                </div>
                <div class="text-sm text-secondary">
                  {{grandchild.description}}
                </div>
              </div>
              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <button>Contact us</button>
    </div>
  </nav
</header>
