<h2 class="heading">OUR SERVICES</h2>
<p class="paragraph mb-5"><strong class="uppercase">{{title}}</strong> provides expert IT-based services to global enterprises, SMEs and technology challengers.</p>
<div class="flex flex-wrap gap-5 justify-center items-center w-200">
  <button class="button-primary"> Design </button>
  <button class="button-secondary">Social Media Management</button>
  <button class="button-secondary">ERP</button>
  <button class="button-secondary">Consulatation</button>
  <button class="button-secondary">Systems/Platform</button>
  <button class="button-secondary">Digital Marketing</button>
</div>

<img src="/assets/img/services.svg" alt="services"/>
