---
layout: layout.html
title: Treekon
email: info@treekon.com
phone: +977-9849632173
---

<div class="flex flex-col gap-4">
  <section class="w-full">
    {% include '_banner.html' %}
  </section>

  <section class="flex items-center flex-col gap-4 mt-15">
    {% include '_services.html' %}
  </section>

  <section class="mt-12">
    {% include '_d3_framework.html' %}
  </section>

  <section class="mt-12">
    {% include '_testimonials.html' %}
  </section>

  <section class="mt-12">
    {%include '_about_us.html' %}
  </section>

  <section class="mt-12">
    {%include '_call_to_action.html' %}

  </section>
  <section class="mt-12">
    {%include '_contact_us.html' %}
  </section>
</div>
